.custom-modal-width {
  width: 90vw;
  max-width: none !important;
}


.backdrop-detalhes {
  z-index: 1060;
}

.detalhes {
    z-index: 1065;
}


.metodo-numerico {
  max-width: calc(33.33% - 10px);
}


@media (max-width: 1024px) {
  .metodo-numerico {
    max-width: calc(50% - 10px);
  }
}

@media (max-width: 800px) {
  .metodo-numerico {
    max-width: 100%;
  }
}

